.homePage {
    background-image: url('../images/Saltmarsh.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainMenu {
    background-color: rgb(47, 47, 47);
    border-color: black;
    border-width: 100px;
    padding: 30px;
    border-radius: 25px;
    min-width: 500px;
    max-width: 1500px;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    opacity: 80%;
}

.row {
    margin: 5px;
}

.bannerButton {
    border: none;
    background-color: transparent;
    text-align: center;
    position: relative;
}
.bannerButton:hover {
    transition: 0.1s;
    color:darkred
}

.bannerText {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -130%);
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
}

.bannerHeader {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -160%);
    font-size: 24px;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}

.bannerSubText {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -80%);
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
}

.rollText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    color: white;
}

.rollText-shift {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    color: green;
}

.rollText-ctrl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    color: red;
}

.rollText:hover {
    color: goldenrod;
}

.displayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    color: white;
}

.displayText:hover {
    color: goldenrod;
}