.homePage {
    background-image: url('../images/Saltmarsh.png');
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.longPage {
    background-image: url('../images/slategrey.png');
    background-repeat: repeat;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainMenu {
    background-color: rgb(47, 47, 47, 0.8);
    border-color: black;
    border-width: 100px;
    padding: 30px;
    border-radius: 25px;
    min-width: 500px;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* opacity: 80%; */
}

.row {
    margin: 5px;
}

.backbtn {
    position: relative;
    top: -20px;
    left: -1200%;
    font-size: 14px;
    color:gray;
    background-color: black;
    border-radius: 10px;
}

.bannerButton {
    border: none;
    background-color: transparent;
    text-align: center;
    position: relative;
    opacity: 80%;
}

.bannerButton:hover {
    transition: 0.1s;
    color:darkred;
    opacity: 70%;
}

.classBannerButton {
    border: none;
    background-color: transparent;
    width: 350px;
    height: 275px;
    text-align: center;
    position: relative;
    opacity: 95%;
}

.classBannerButton:hover {
    transition: 0.1s;
    color:darkred;
    opacity: 75%;
}

.homeBannerImage {
    position:relative;
    transform: translate(-6%, 30%);
    border-radius: 30px;
    width: 120px;
    height: 120px;
}

.classBannerImage {
    position:relative;
    transform: translate(-6%, 30%);
    border-radius: 30px;
    width: 120px;
    height: 120px;

}

.classBannerImage:hover {
    box-shadow: 2px 2px 5px black;
}

.classBanner {
    position:relative;
    transform: translate(-6%, 0%);
}

.classBannerText {
    position: relative;
    font-size: 28px;
    transform: translate(-2%, -400%);
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
}

.bannerImage {
    position:relative;
    top: 0;
    left: 0;
    transform: translate(-6%, -10%);
    border: 10px;
    border-color: black;
    border-radius: 30px;
}

.bannerImage:hover {
    border-radius: 100px;
}

.banner {
    position:relative;
    top: 50%;
    left: 0%;
    transform: translate(0%, -42%);
}

.bannerText {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -130%);
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
}

.bannerHeader {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -160%);
    font-size: 24px;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}

.bannerSubText {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -80%);
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
}

.rollText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    color: white;
}

.rollText-shift {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    color: green;
}

.rollText-ctrl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    color: red;
}

.rollText:hover {
    color: goldenrod;
}

.displayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    color: white;
}

.displayText:hover {
    color: goldenrod;
}