.spellBody {
    background-color: transparent;
    border: none;
}

.sidepanel  {
    width: 0px;
    position: fixed;
    max-height: 750px;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 10px;
    border-radius: 10px;
}

.closebtn {
    position: absolute;
    top: -20px;
    right: 0px;
    font-size: 36px;
    color:gray;
    background-color: transparent;
    border: none;
}

.closebtn:hover {
    color:white
}

.classbtn {
    color: gray; 
    border: white; 
    background-color: transparent;
    width: 75px;
    margin-bottom: 10px;
}

.classbtn:hover {
    color:white
}

.sourceText {
    position: absolute;
    bottom: -5px;
    right: 10px;
    font-size: 14px;
    color: gray;
    font-style: italic;
}

.Uncommon {
    color: green
}

.Rare {
    color: rgb(43, 43, 236)
}

.Very{
    color: purple
}

.Legendary {
    color: gold
}

.Artifact {
    color: saddlebrown
}
